<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Id:</ion-label>
    <ion-input [(ngModel)]="UsuarioData.identificador" placeholder="IdUsuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input [(ngModel)]="UsuarioData.nombre" placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Edad:</ion-label>
    <ion-input [(ngModel)]="UsuarioData.usuario" placeholder="Usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input [(ngModel)]="UsuarioData.clave" placeholder="Clave"></ion-input>
  </ion-item>

  <ion-button (click)="update()" color="success" expand="block">Actualizar</ion-button>
  <ion-button [routerLink]="['/home']" color="warning" expand="block">Cancelar</ion-button>
</ion-content>
