<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    @for (item of UsuarioData; track item.identificador) {
      <ion-item>
        <ion-label>
          <h2>IdUsuario: {{ item.identificador }}</h2>
          <h2>Nombre: {{ item.nombre }}</h2>
          
        </ion-label>
        <ion-button>
          <ion-icon name="list-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="editUsuario(item)" color="warning" size="small">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteUsuario(item)" color="danger" size="small">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    } @empty {
      <ion-item>
        <ion-label>No hay usuarios disponibles</ion-label>
      </ion-item>
    }
  </ion-list>
  <ion-button [routerLink]="['/nuevo']" expand="block">
    Nuevo Usuario
  </ion-button>

  <ion-button [routerLink]="['/inicio']" expand="block">Volver</ion-button>
</ion-content>
