<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">Block of Content</div>
    </ng-template>
  </ion-modal>

  <!-- <ion-item>
      <ion-select [(ngModel)]="idUsuario" (ionChange)="guardarUserEnSesion(); comprobarAdmin();" label="Usuario" placeholder="Usuario">
        @for (item of UsuariosData; track item.identificador) {
          <ion-select-option [value]="item.identificador">{{ item.nombre }}</ion-select-option>
        }
      </ion-select>
  </ion-item> -->
  <ion-button [routerLink]="['/nuevo-fichaje']" color="primary" expand="block">Registrar fichaje</ion-button>
  <ion-button [routerLink]="['/fichajes']" color="primary" expand="block">Consulta fichajes</ion-button>
</ion-content>
